<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <nav th:fragment="commonFooter">
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/increaseH">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">운영관리시스템</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <!-- <li class="nav-item active">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li> -->

    

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <!-- <div class="sidebar-heading">
        Addons
    </div> -->

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#increase"
            aria-expanded="true" aria-controls="increase">
            <i class="fas fa-fw fa-folder"></i>
            <span>증액관련</span>
        </a>
        <div id="increase" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/increaseH">증액이력</a>
                <a class="collapse-item" href="/thresHold">기업정보(제한금액)</a>
                <a class="collapse-item" href="/limitStatus">미정</a>
                
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#remote"
            aria-expanded="true" aria-controls="remote">
            <i class="fas fa-fw fa-folder"></i>
            <span>원격관련</span>
        </a>
        <div id="remote" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/blockUser">원격접속차단유저</a>
                <a class="collapse-item" href="/serverList">원격접속계정현황</a>
                <a class="collapse-item" href="/remoteUserList">원격접속가능인원현황</a>
                <a class="collapse-item" href="/remoteStatus">원격접속현황</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#arreomagma"
            aria-expanded="true" aria-controls="arreomagma">
            <i class="fas fa-fw fa-folder"></i>
            <span>라우팅 및 인증코드</span>
        </a>
        <div id="arreomagma" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/routing">플래그값변경(SMT_FG)</a>
                <a class="collapse-item" href="/mbrIp2">인증코드IP업데이트</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#lowdata"
            aria-expanded="true" aria-controls="lowdata">
            <i class="fas fa-fw fa-folder"></i>
            <span>로우데이터</span>
        </a>
        <div id="lowdata" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/smsRowData">SMS로우데이터</a>
                <a class="collapse-item" href="/mmsRowData">MMS로우데이터</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#smsLimit"
            aria-expanded="true" aria-controls="smsLimit">
            <i class="fas fa-fw fa-folder"></i>
            <span>건수제한</span>
        </a>
        <div id="smsLimit" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/smsLimit">SMS건수제한</a>
                <a class="collapse-item" href="/lmsLimit">LMS건수제한</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->
    <!-- <li class="nav-item">
        <a class="nav-link" href="/thresHold">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>ThresHold</span></a>
    </li> -->

    <!-- Nav Item - Tables -->
    <!-- <li class="nav-item">
        <a class="nav-link" href="/increaseH">
            <i class="fas fa-fw fa-table"></i>
            <span>증액</span></a>
    </li> -->

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
</nav>
</html>