<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

</head>
<body id="page-top">
    <meta charset="utf-8">
<div class="card-body">
    <form id="frm"  method="post">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>uid</th>
                    <th>grp_cd</th>
                    <th>status</th>
                    <th>start_date</th>
                    <th>limit_price</th>
                    <th>sms_price</th>
                    <th>lms_price</th>
                    <th>mms_price</th>
                    <th>rmk</th>
                    <th>create_dttm</th>
                    <th></th>
                </tr>
            </thead>
                <tbody>
                    <tr th:each="user : ${allUsers}">
                        <td><input type="text" th:value="${user.uid}"/></td>
                        <td><input type="text" th:value="${user.grp_cd}"/></td>
                        <td><input type="text" th:value="${user.status}"/></td>
                        <td><input type="text" th:value="${user.start_date}"/></td>
                        <td><input type="text" th:value="${user.limit_price}"/></td>
                        <td><input type="text" th:value="${user.sms_price}"/></td>
                        <td><input type="text" th:value="${user.lms_price}"/></td>
                        <td><input type="text" th:value="${user.mms_price}"/></td>
                        <td><input type="text" th:value="${user.rmk}"/></td>
                        <td><input type="text" th:value="${user.create_dttm}"/></td>
                        <td>
                            <button type="button" class="btn btn-danger" th:attr="onclick=|fnDelete('${user.uid}')|">삭제</button>
                            <button type="button" class="btn btn-primary" th:attr="onclick=|updateIncreaseH('${user.uid}')|">수정</button>
                        </td>
                    </tr>
                
                </tbody>
            </table>
        </form>
    </div>

</body>
</html>


